.academic{
    background: #eaf2fd;
   
    /* width:316px;
    height: 600px; */
    /* display:flex;
    flex-direction: column; */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.academic__title{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    padding-bottom: 2rem;
    /* width: 233px;
    height:26px;
   justify-content:center; */
}

.academic__courses{
    /* display:flex;
   flex-wrap: wrap;
   gap: 2rem;  */
}

academic__courses__box{

}

.academic__courses__list{
   /* margin-bottom: 1rem; */
   /* padding:0; */
   /* width: 296px;
   height: 118px; */
    
}
/* .academic__img{
    width:  84px;
    height: 58px;
    /* display:block;
    margin:auto; */
    /* padding:2rem; */
  
/* }  */
.academic__courses__item__img img{
    background: white;
    /* margin:0; */

    width: 84px;
    height: 58px;
    /* align-items: center; */
    padding: 30px 106px;

    /* gap:1rem; */
    /* height: 40px; */
}

.academic__courses__item__title{
    font-weight:700;
}
.academic__courses__item__subtitle{
    margin-bottom: 1rem;
}

.academic__titulo{
    margin: 0;
    font-size: 1rem;
    color: #464646;
    padding-top:0.5rem;
}

.academic__parrafo{
    margin: 0;
    font-size: 0.875rem;
    color: #464646;
    padding-top:0.5rem;
}

@media screen and (min-width: 768px) {
    .academic__title{
        padding-bottom: 2rem;
    }
    .academic__courses{
        display: flex;
        justify-content: space-around;
    }
    .academic__courses__item__img img{
        padding: 30px 70px;
    }
    .academic__courses__box:nth-child(2){
        margin: 0 23px;
    }

   
}

@media screen and (min-width: 1024px) {
    section.menu, section.title, section.about, section.skills, section.hobbies, section.academic, section.experience, section.formcontato {
        padding: 32px 152px;
    }
    
    .academic__courses__item__img img {
        width: 192px;
        height: 130px;
        padding: 78px 88px;
    }

    .academic__titulo {
        font-size: 1.4rem;
    }

}