.title{
    /* display:flex;
    align-items: flex-start; */
    padding:1rem;
    
}

img.title__profile{
    height: 6.125rem;   
    /* margin-top: 1rem; */
    /* margin-left: 1rem; */
    width: 6.125rem;
    border-radius: 3rem;
    
}


.title__bio {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin: 1rem 0;
    font-weight: 700;
}


.title__subsection{

    display:flex;
    flex-wrap: wrap;
    font-size: .9rem;
    margin-bottom: 1rem;

}

.title__network{
    
    align-items: flex-start;
    display:flex;
    flex-direction: row;
    gap: 8px;
    height: 16px;   
    padding: 0;
    width: 318px;  
    font-weight: bold;
    
    flex: none;
    order: 3;
    flex-grow: 0;

    color: var(--color-fuente);
}

.title__network__item{
    /* align-items: flex-start;
    display:flex;
    flex-direction: row; */
    color: var(--color-fuente);
    gap:8px;
    padding: 0px;

    /* width: 318px;
    height: 16px; */

    flex: none;
    order: 2;
    flex-grow: 0;
}



@media (min-width: 768px) {
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    img.title__profile {
        width: 146px;
        height: 146px;
        border-radius: 5rem;
    }

    .title__subsection, .title__network__item{
        font-size: 1rem;
        padding-right: 32px;
        /*margin-right: 32px*/
    }

   
}

@media screen and (min-width: 1024px){
    .title__bio {
        font-size: 52px;
    }
    }
    @media screen and (min-width: 1024px){
    img.title__profile {
        width: 368px;
        height: 368px;
        border-radius:50%;
    }

    
    .title__network__item{
        padding:0 1rem 0 0;
    }
    }
  