/*Menu*/

.menu{
    align-items: center;
    display: flex;
    font-size: 16px;
    /* gap: 2px;  */
    /* height: 56px; */
    justify-content: space-between;
    padding:1rem;
    /* margin-top: 16px; */
    /* opacity: 0.8; */
    /* width: 360px; */

    /* flex: none;
    order: 0;
    flex-grow: 0;
    */
     
}

.menu__header{
    display:flex;
    flex-direction: row;
    /* justify-content:space-around; */
    align-items: center;
    gap: 4px;
   
} 
.menu__title{
    margin:0;
    font-weight: bold;
    color: var(--color-fuente);
}
.menu__list {
    display:none;
}

.menu__list__item__contato{
    /* padding-left: 5%; */
    /* font-size: 14px; */
    font:inherit;
    /* font-weight: 400; */
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
    line-height: 16px; */ 

}  
@media screen and (min-width: 1024px){
    .menu__list {
        display: flex;
        /* justify-content: space-between;
        /* align-items: center; */
        
    }
    .menu__list__item {
        color: var(--color-fuente);
        display: flex;
        font-size: 1rem;
        margin-right: 2rem;
        flex-wrap: nowrap;
    }

    .menu__list__item__contato{
        display:none;
    }

    li.menu__list__item:nth-child(6){
        font-weight: bold;
    }

}

