.skills{
    background: #e5e5e5;
    padding:1rem;
    width:348px;
    height: 500px;
}

.skills__title{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    margin:0;
    padding-bottom: 2rem;
}

.skills__line{
    display:flex;
    flex-wrap:wrap;
    gap:2rem 1rem;
}

.skills__box{
    width: 156px;
    height: 118px;
    background:white;
}

.skills__img{
    width: 24px;
    height: 37px;
}

.skill__item {
    padding:1rem;
    margin-bottom: 0;
    line-height:37px;
    line-height: 100%;
    margin-top: 22px;
}

.skills__name{
    padding-top: 8px;
    font-weight: bold;
    color:#464646;
}