.hobbies{
    /* margin-top:3rem; */
    background: #e5e5e5;
    padding:1rem;
    /* width:348px;
    height: 480px; */
}

.hobbies__title{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    
    padding-bottom: 2rem;
}

.hobbies__line{
    display:flex;
    flex-wrap:wrap;
    /* gap:0.5rem 0.5rem;  */
    justify-content:space-between;
}

.hobbies__box{
    /* width: 156px;
    height: 118px; mpodifique aqui */
    background:white;

    background: var(--background-color-blanco);
    width: 10rem;
    height: 118px;
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    text-align: left;
}

.hobbies__img{
    width: 24px;
    height: 37px;
}
.hobbies__item {
    padding:1rem;
    margin-bottom: 0;
    line-height:37px;
    line-height: 100%;
    margin-top: 22px;
}

.hobbies__name{
    padding-top: 8px;
    font-weight: bold;
    color:#464646;
}

@media screen and (min-width: 768px){
    .hobbies__box {
        width: 224px;
        margin-top: 2rem;
    }

    .hobbies__title{
        padding-bottom: 0rem;
    }
}